{% extends 'base.html.twig' %}

{% block body %}
    <div id="form" align="center">
    <h1>Suite creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" class="btn btn-success"/>
    {{ form_end(form) }}


            <a href="{{ path('suite_index') }}" class="btn btn-info">Back to the list</a>

    </div>
    {% block style %}
        <style>
            .btn-info{
                width: 135px;
                height: 40px;
            }
            .btn-success{
                width: 135px;
                height: 40px;
            }



            input[type=text], select {
                width: 15%;
                padding: 12px 20px;
                margin: 8px 0;
                display: inline-block;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
                align-content: center;
            }        input[type=number], select {
                         width: 15%;
                         padding: 12px 20px;
                         margin: 8px 0;
                         display: inline-block;
                         border: 1px solid #ccc;
                         border-radius: 4px;
                         box-sizing: border-box;
                         align-content: center;
                     }

            #form{
                border-radius: 5px;
                background-color: #f2f2f2;
                padding: 20px;
                align-content: center;
            }
            label{
                width: 100%;
            }
        </style>
    {% endblock %}
{% endblock %}
