{% extends 'base.html.twig' %}
{% block body %}
    <div align="center">
    <br><br><br><br>
    <h1></h1>
    <form action="" method="post">
        <b>Recherche:</b> <input type="text" name="input_recherche" placeholder="Prix de chambre"/>
        <input type="submit" name="recherche" value="Recherche" class="btn btn-success" /><br><br>
    </form>


        <table>
            <thead>
            <tr>
                <th>Id Chambre</th>
                <th>Nb lit</th>
                <th>Prix</th>

            </tr>
            </thead>
            <tbody>
            {% if chambres is null %}
            <h1>Aucune resultat</h1>
            {% else %}
            {% for chambre in chambres %}
                <tr>
                    <td>{{ chambre.id }}</td>
                    <td>{{ chambre.nb_lit }}</td>
                    <td>{{ chambre.prix }}</td>

                </tr>
            {% endfor %}
            {% endif %}
            </tbody>
        </table>
<br><br>
        {% if not("ROLE_CLIENT") %}
            <button type="button" class="btn btn-info"> <a href="{{ path('chambre_index') }}" style="color:white;">Back to the list</a></button>
   {% endif %}
    </div>
    <br><br>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
        }

        th, td {
            padding: 10px;
            text-align: left;
            border-bottom: 3px solid #ddd;
        }
        th{
            color: #4CAF50;
        }

        tr:nth-child(even) {background-color: #f2f2f2;}
        .btn-success{
            width: 200px;
            height: 40px;
        }
        .btn-info{
            width: 135px;
            height: 40px;
        }

        input[type=text], select {
            width: 15%;
            padding: 12px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            align-content: center;
        }        input[type=number], select {
                     width: 15%;
                     padding: 12px 20px;
                     margin: 8px 0;
                     display: inline-block;
                     border: 1px solid #ccc;
                     border-radius: 4px;
                     box-sizing: border-box;
                     align-content: center;
                 }
        label{
            width: 100%;
        }
    </style>

{% endblock %}
